version: '3'

services:

  app:
    build: .
    # image: israeldax/daxlaravelprod:latest
    container_name: app
    entrypoint: dockerize -wait tcp://db:3306 -timeout 40s ./.docker/entrypoint.sh
    volumes:
      - .:/var/www/
    networks:
      - app-network
    depends_on:
      - db
      - redis
    expose:
      - 9000

  nginx:
    build: .docker/nginx
    container_name: nginx
    restart: always
    tty: true
    volumes:
      - .:/var/www/
    networks:
      - app-network
    depends_on:
      - app
    ports:
      - 8000:80

  db:
    build: .docker/mysql
    container_name: db
    command: --innodb-use-native-aio=0
    restart: always
    tty: true
    volumes:
      - ./.docker/dbdata:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=laravel
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=root
    networks:
      - app-network
    ports:
      - 3306:3306

  redis:
    image: redis:alpine
    container_name: redis
    networks:
      - app-network
    expose:
      - 6379

networks:
  app-network:
    driver: bridge

